.sidebar {
  position: fixed;
  top: 70px;
  left: -240px;
  width: 240px;
  height: 100%;
  background: #111;
  transition: 0.4s ease;
  padding-top: 30px;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.6);
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 16px 30px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
  color: #ccc;
}

.sidebar li:hover {
  background: #1f1f1f;
  color: #00bfff;
  padding-left: 40px;
}

.logout {
  color: #ff4d4d;
}

.logout:hover {
  background: rgba(255, 0, 0, 0.1);
}
