.analyse-container {
  min-height: 100vh;
  background: #111;
  padding: 40px;
  color: white;
}

.analyse-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 18px;
  margin-top: 40px;
  transition: 0.3s ease;
}

.analyse-card:hover {
  box-shadow: 0px 10px 30px rgba(0, 191, 255, 0.3);
}
