.info-container {
  min-height: 100vh;
  background: #121212;
  padding: 40px;
  color: white;
}

.info-box {
  max-width: 700px;
  margin: 60px auto;
  padding: 35px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.info-box:hover {
  box-shadow: 0px 10px 30px rgba(0, 191, 255, 0.25);
}
