.upload-container {
  min-height: 100vh;
  background: #121212;
  padding: 40px;
  color: white;
}

.upload-box {
  max-width: 500px;
  margin: 60px auto;
  padding: 35px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
  transition: 0.3s ease;
}

.upload-box:hover {
  box-shadow: 0px 8px 30px rgba(0, 191, 255, 0.3);
}

.upload-box input {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
